.venv/
__pycache__/
*.pyc
.idea/
.env
.env.*
.DS_Store
*.parquet
*.csv
data/raw/*
data/canonical/*
data/result/*
result/*
data/NfipClaims.parquet
data/results/
data/testsdata/NfipPoliciesV3.parquet
data/tests
